
# Standard things
.ipynb_checkpoints

__pycache__

*.DS_Store

venv*

# Project specific
config.json

data/*raw.csv
data/*/raw/*
data/amazon-data/*

data-analysis/preprocessed/*

data/survey-data/unprocessed/*
data/survey-data/comments.csv

!*placeholder.txt

survey-snippets/.env
.Rproj.user

output/*

*.pyc

*.csv

*.jsonl