
# Standard things
.ipynb_checkpoints

__pycache__

*.DS_Store

venv*

# Project specific
config.json

data/*raw.csv
data/*/raw/*
data/amazon-data-phase-1*
data/amazon-data/*

data/survey-data/unprocessed/*
data/survey-data/comments.csv

!*placeholder.txt

survey-snippets/.env
