beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1675252249248/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764672617/work
certifi==2022.12.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1671179360775/work
charset-normalizer==3.0.1
click==8.1.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda-souschef @ file:///home/conda/feedstock_root/build_artifacts/conda-souschef_1661977243124/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1672672393437/work
cssselect==1.2.0
grayskull @ file:///home/conda/feedstock_root/build_artifacts/grayskull_1675379749721/work
html5lib==1.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
lxml==4.9.2
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1675038922239/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
parsel==1.7.0
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1673281726124/work
progressbar2 @ file:///home/conda/feedstock_root/build_artifacts/progressbar2_1666856063684/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1672659226110/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-utils @ file:///home/conda/feedstock_root/build_artifacts/python-utils_1667318130351/work
PyYAML==6.0
rapidfuzz @ file:///home/conda/feedstock_root/build_artifacts/rapidfuzz_1671613500289/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1673863902341/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1666827428155/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1670412733608/work
ruamel.yaml.jinja2==0.2.4
scrapingbee==1.1.8
selectorlib==0.16.0
six==1.16.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
stdlib-list @ file:///home/conda/feedstock_root/build_artifacts/stdlib-list_1667495268108/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomli_w @ file:///home/conda/feedstock_root/build_artifacts/tomli-w_1638551719419/work
tqdm==4.64.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1673452138552/work
w3lib==2.1.1
webencodings==0.5.1
